<div class="checkout-page">
  <!-- Order Summary -->
  <div class="order-summary">
    <h2>Order Summary</h2>
    <table>
      <thead>
        <tr>
          <th>Product</th>
          <th>Qty</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <% @cart_items.each do |item| %>
          <tr>
            <td><%= item[:product].name %></td>
            <td><%= item[:quantity] %></td>
            <td>$<%= item[:item_total] %></td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="2"><strong>Subtotal:</strong></td>
          <td><strong>$<%= @subtotal %></strong></td>
        </tr>
        <tr>
          <td colspan="2">Tax:</td>
          <td>$<%= @tax %></td>
        </tr>
        <tr>
          <td colspan="2"><strong>Total:</strong></td>
          <td><strong>$<%= @total %></strong></td>
        </tr>
      </tfoot>
    </table>
  </div>
  
  <!-- Shipping Form -->
  <div class="shipping-form">
    <h2>Shipping Information</h2>
    
    <%= form_tag checkout_path, method: :post do %>
      <div class="form-group">
        <label>Address:</label>
        <%= text_field_tag :address, current_user.address, placeholder: "Street address" %>
      </div>
      
      <div class="form-group">
        <label>City:</label>
        <%= text_field_tag :city, current_user.city, placeholder: "City" %>
      </div>
      
      <div class="form-group">
        <label>Postal Code:</label>
        <%= text_field_tag :postal_code, current_user.postal_code, placeholder: "Postal Code" %>
      </div>
      
      <div class="form-group">
        <label>Province:</label>
        <%= select_tag :province_id, options_from_collection_for_select(@provinces, :id, :name, @selected_province&.id) %>
      </div>
      
      <%= submit_tag "Place Order", class: "place-order" %>
    <% end %>
  </div>
</div>
